# macOS
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Android / Gradle
.gradle/
build/
local.properties
*.apk
*.aab
*.ap_
*.jks
*.keystore
android/captures/

# Android / IDE
!.idea/.gitignore
.idea/
*.iml
*.log

# iOS / Xcode
*.xcuserdata
DerivedData/
Pods/
.swiftpm/
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcuserstate
xcuserstate/

# Kotlin
*.class
*.jar
*.war
*.ear
*.nar

# Temp
*.tmp
*.temp
.session/
